
.card {
    border-radius: 25%;
    width:'200px';
    height: '250px';  
   }
   
 
 .card:hover{
 border-radius:25%;
 -webkit-border-radius:25%;
 /* box-shadow: 0px 0px 15px 15px #a96e41;
 -webkit-box-shadow: 0px 0px 15px 15px #e0490d; */
 box-shadow: 0px 0px 15px 15px aqua;
 -webkit-box-shadow: 0px 0px 15px 15px #eeeded;
 transform: rotate(360deg);
 -webkit-transform: rotate(360deg);
 }
 
 .gen{
  color: aliceblue;
  /* background-color: blue; */
  box-shadow: 0 4px 27px 0 rgb(0 0 0 / 30%);
  border-radius: 25%;
  padding: 10px;
  /* border-color: aqua; */
 }