
.inputs{
  flex-direction: column;
  gap: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.nombre{
  text-shadow: 8px 8px 3px rgb(238, 238, 238);
  font-size: 45px;
  font-family: Roboto;
  font-weight: bold;
  font-style: italic;
  text-transform: uppercase;
  letter-spacing: 6px;
  color: #4416c4;
  background-color: transparent;
}
.total{
  background-image: url(../components/fuentes/mm8VUjY.jpg);
  background-repeat: no-repeat;
	background-size: 100% 100%;
  background-position: center;
    height: 150vh;
    width: 100%;
    margin: 0;
    
    
}
.title{
  color:aqua;
  font-weight: 700;
}
.errors{
  color: red;
}


.deletePlat{
  margin-left: 40%;
  Display: flex;
  Flex-direction: row;
  flex-grow: 1;
  gap: 20px;
  
  
}
.deleteGenre{
  Display: flex;
  Flex-direction: row;
  flex-grow: 1;
  gap: 20px;
  
}

.img{
  margin-left: 100%;
  Display: flex;
  Flex-direction: row;
  flex-grow: 1;
  gap: 20px;
  justify-content: flex-end;
}

.plat{
  margin: 10px;
  /* border: 3px solid;
  width: 140px;
  padding: 6px;*/
} 
.gen{
  margin: 10px;
    border: 3px solid;
    width: 140px;
    padding: 6px;
}
.volver{
  margin-top: 4%;
  color: blue;
  margin-left: 30%;
  background-color: transparent;
  height: 10px;
  width: 70px;
  border-radius: 25%; 
}
.imgsimul{
  border-radius: 10%;
  height: 300px;
  width: 400px;

}