/* .paginado{
    display: flex;
    justify-content: center;
    flex-direction: row;
    cursor: pointer;
} */
.number {
   margin: 10px;
   width: 100px;
   
    
}

.paginadoul{
    margin: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    list-style: none;
}
.active{
    width: 42px;
    height: 32px;
    background-color:black;
    color:orange;
     border:white;
     
}
.page{
    width: 42px;
    height: 32px;
    background-color:grey;
    color:orange;
     border:white;
     cursor: pointer;
}

/* @media(max-width: 768px;) { 
    header {
        visibility: absolute;
        top: 100%;
        left: 0;
    }
} */